{{#get "posts" limit="5" include="authors,tags" filter="featured:true"}}
{{#if posts}}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="featured-slider-wrap">
                <div class="featured-slider">
                    {{#foreach posts visibility="all"}}
                    <div class="slider-item {{^if feature_image}}no-image{{/if}}">
                        <a href="{{url}}" class="permalink-overlay"></a>
                        <div class="post-image"{{#if feature_image}} style="background-image: url({{feature_image}});"{{/if}}>
                            <span class="read-time">{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
                            <div class="content-wrap">
                                {{#if tags}}
                                <div class="tag-wrap">
                                {{tags separator=""}}
                                </div>
                                {{/if}}
                                <h2 class="title h1">
                                    <a href="{{url}}">{{title}}</a>
                                </h2>
                                <div class="post-meta">
                                    {{t "By"}} {{authors separator=", "}}
                                    {{t "On"}} {{date format="MMMM DD, YYYY"}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/foreach}}
                </div>
                <div class="slider-bottom d-flex">
                    <div class="featured">{{t "FEATURED"}}</div>
                    <div class="arrow-wrap"></div>
                    <div class="dots-wrap ml-auto"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}
{{/get}}