<div class="widget">
    <div class="content">
        <img class="img-fluid mb-3" src="{{asset 'images/finterlabs logo footer.png'}}" alt="" />
        <p>{{t "Copyright"}} &copy; {{date format="YYYY"}}</p>
        <p>{{t "Finterlabs Platform, Finland"}}</p>
        <p><b>{{t "All right reserved"}}</b></p>
    </div>
</div>